@model Viewmodels.ListGaleriesViewModel
<div id="list-galleries-header">
    <h2 class="m-2">Galleries</h2>
    <div>
        <button type="button" class="btn btn-big btn-primary btn-add" data-toggle="ajax-modal" data-url="@Url.Page("Index", "GalleryModalPartial", new { openedGallery = Model.Show })">
            <svg class="icon-plus" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 1 h2 v3 h3 v2 h-3 v3 h-2 v-3 h-3 v-2 h3 v-3 z" />
            </svg>
            <div>Add</div>
        </button>
    </div>
</div>
<div class="accordion pb-2" id="accordionMenu">
    @if (Model.ListeGaleries.Count() == 0)
    {
        <div>You have no galleries to show</div>
    }
    else
    {
        @foreach (var item in Model.ListeGaleries)
        {
            <div class="card">
                <div class="card-header py-1 px-2">
                    <div class="mb-0 ">
                        <button class="btn btn-link btn-block text-left p-1" type="button" data-toggle="collapse" data-target="#selectGallery_@(item.Id)" aria-expanded="false">
                            <div class="d-flex align-items-center justify-content-between bg-light px-0 py-0">
                                <div>@item.Name</div>
                                <div class="badge badge-pill badge-info">@item.nbImageItems</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div id="selectGallery_@(item.Id)" class="@((Model.Show==@item.Id)?"show":"collapse")" aria-labelledby="headingOne" data-parent="#accordionMenu">
                    <div class="card-body detail-galerie">
                        <div class="px-0 pt-1 pb-2">@item.Description</div>
                        <div class="px-0 py-0"><small>Created: @item.DateCreation.ToString("MM/dd/yyyy") at @item.DateCreation.ToString("hh:mm tt")</small></div>
                        <div class="px-0 py-0"><small>Last Update: @item.DateUpdate.ToString("MM/dd/yyyy") at @item.DateUpdate.ToString("hh:mm tt")</small></div>
                        <div class="d-flex align-items-center justify-content-between pt-1">
                            <div class="px-0 py-1"><a asp-page="Index" asp-route-id="@item.Id" asp-route-PageNB="1">View Gallery</a></div>
                            <div class="buttons-edit">
                                <form method="post" class="m-0 p-0">
                                    <input type="submit" value="Delete" class="btn btn-sm rounded-pill btn-danger" asp-page-handler="DeleteGallery" asp-route-IdGallery="@item.Id" onclick="return confirm('Are you sure you want to delete this gallery ?')">
                                </form>
                                <button type="button" class="btn btn-sm rounded-pill btn-info" data-toggle="ajax-modal" data-url="@Url.Page("Index", "GalleryModalPartialEdit", new { idGallery = item.Id, openedGallery = Model.Show })">
                                    Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>



