@page "{id=1}/{PageNB=1}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="gallery-modal-placeholder">
</div>
<div id="image-modal-placeholder">
</div>
<div id="viewimage-modal-placeholder">
</div>
<div class="container border border-dark">
    <div class="row">
        <div class="col-sm-3 m-2 p-1 border border-danger">
            <div id="ListGalleries" data-url="@Url.Action("Index")">
                @await Component.InvokeAsync("ListGaleries", new { show = Model.Show })
            </div>
        </div>
        <div class="col m-2 p-2 border border-success">
            <div class="p-3">
                @if (Model.Galerie == null)
                {
                    <p class="row">No gallery found</p>
                    <hr />
                }
                else
                {
                    <p class="row">Galerie: @Model.Galerie.Name</p>
                    @if (Model.Galerie.ListeImages.Count() == 0)
                    {
                        <p class="row">This gallery is empty</p>
                        <hr />
                    }
                    <div class="container-imageCard row border border-info">
                        @if (Model.Galerie.ListeImages.Count() != 0)
                        {
                            @foreach (var imageItem in Model.Galerie.ListeImages)
                            {
                                <div class="col-xl-4 col-lg-6 col-sm-12 p-2 border border-danger">
                                    <div class="card rounded bg-dark" data-toggle="ajax-modal-viewimage" data-url="@Url.Page("Index","ViewImageModalPartial", new { idImage = imageItem.ImageItemId, idGallery = Model.Galerie.Id } )">
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <img src="~/Images/@imageItem.FileName" alt="@imageItem.Description" class="img-fluid card-img embed-responsive-item">
                                        </div>
                                        <div class="py-2 px-2 card-img-overlay">
                                            <h6 class="mb-2 text-dark">@imageItem.Nom @imageItem.ImageItemId</h6>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                    <p class="small text-muted m-0 p-0">
                                                        @imageItem.DateCreation.ToString("MM/dd/yyyy")<br />
                                                        @imageItem.DateCreation.ToString("hh:mm tt")
                                                    </p>
                                                </div>
                                                <div>
                                                    <form method="post">
                                                        <input type="submit" value="Delete" data-toggle="ajax-modal-image" class="btn btn-sm rounded-pill btn-danger" asp-page-handler="DeleteImg" asp-route-idImage="@imageItem.ImageItemId" asp-route-IdGallery="@imageItem.GalerieId" asp-route-PageNB="@Model.PageNB" onclick="return confirm('Are you sure you want to delete this picture ?')">
                                                    </form>
                                                    <button type="button" class="btn btn-sm rounded-pill btn-info" data-toggle="ajax-modal-image" data-url="@Url.Page("Index", "ImageModalPartialEdit", new { idImage = imageItem.ImageItemId } )">
                                                        Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        <div class="col-xl-4 col-lg-6 col-sm-12 p-2 border border-danger" id="containerBtdAdd">
                            <button type="button" class="btn btn-primary" data-toggle="ajax-modal-image" data-url="@Url.Page("Index", "ImageModalPartial", new { idGallery = Model.Galerie.Id })">
                                Add new image
                            </button>
                        </div>

                    </div>
                    <hr />
                    <div class="row" id="buttonsPage">
                        <a asp-page="Index" class="btn btn-secondary mx-1 @((Model.PageNB <= 1)?"invisible":"")" asp-route-id="@Model.Galerie.Id" asp-route-PageNB="@(Model.PageNB - 1)">
                            Précédent
                        </a>
                        <a asp-page="Index" class="btn btn-secondary mx-1 @((Model.PageNB == Model.Galerie.TotalPages)?"invisible":"")" asp-route-id="@Model.Galerie.Id" asp-route-PageNB="@(Model.PageNB + 1)">
                            Suivant
                        </a>
                    </div>            
                }
            </div>
        </div>
    </div>
</div>
